workflows/Dashboard.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "vw66xFyWvDs9zjo7",
          "mode": "list",
          "cachedResultName": "verpakkingenxl-KVS",
          "cachedResultUrl": "/projects/9rlsqBZGPNj4ARdI/datatables/vw66xFyWvDs9zjo7"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        416,
        256
      ],
      "id": "fc9f5a38-eab3-4cc0-929c-992f181ff9d2",
      "name": "Get KVS"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "key,value",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        256
      ],
      "id": "3f449ae5-874d-4432-932b-5ab6b24dfcc4",
      "name": "Aggregate KVS"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "1DNWnwwruLzPccTp",
          "mode": "list",
          "cachedResultName": "verpakkingenxl",
          "cachedResultUrl": "/projects/9rlsqBZGPNj4ARdI/datatables/1DNWnwwruLzPccTp"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        832,
        256
      ],
      "id": "fd00931e-78c0-4e05-b1d2-f7b0f664b590",
      "name": "GET verpakkingenxl",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        256
      ],
      "id": "f67a0437-cd2f-4291-a47b-3104714b00ad",
      "name": "Aggregate verpakkingenxl"
    },
    {
      "parameters": {
        "html": "<script>\n    // Data injected by n8n\n    window.kvsDataFromN8n = {{ JSON.stringify($('Aggregate KVS').item.json.data) }};\n    window.verpakkingenxlDataFromN8n = {{ JSON.stringify($('Aggregate verpakkingenxl').item.json.data) }};\n</script>\n\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>VerpakkingenXL Lead Dashboard</title>\n    <style>\n        /* ===========================\n           Base Styles & Reset\n           =========================== */\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n            background: #f5f7fa;\n            padding: 20px;\n            color: #333;\n        }\n\n        /* ===========================\n           Layout Components\n           =========================== */\n        .container {\n            max-width: 1600px;\n            margin: 0 auto;\n        }\n\n        .header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            margin-top: 10px;\n            margin-bottom: 30px;\n        }\n\n        h1 {\n            font-size: 36px;\n            color: #2c3e50;\n            font-weight: 700;\n        }\n\n        /* ===========================\n           Button Components\n           =========================== */\n        .refresh-btn {\n            background: #3498db;\n            color: white;\n            border: none;\n            padding: 10px 20px;\n            border-radius: 6px;\n            cursor: pointer;\n            font-size: 14px;\n            display: flex;\n            align-items: center;\n            gap: 8px;\n            transition: background 0.3s;\n        }\n\n        .refresh-btn:hover {\n            background: #2980b9;\n        }\n\n        .refresh-btn::before {\n            content: \"⟳\";\n            font-size: 18px;\n        }\n\n        .reset-filters-btn {\n            background: #e74c3c;\n            color: white;\n            border: none;\n            padding: 10px 20px;\n            border-radius: 6px;\n            cursor: pointer;\n            font-size: 14px;\n            font-weight: 600;\n            transition: all 0.3s;\n            display: flex;\n            align-items: center;\n            gap: 8px;\n        }\n\n        .reset-filters-btn:hover {\n            background: #c0392b;\n            transform: translateY(-1px);\n        }\n\n        .reset-filters-btn::before {\n            content: \"✕\";\n            font-size: 16px;\n        }\n\n        .sort-btn {\n            background: #ecf0f1;\n            border: none;\n            padding: 8px 12px;\n            border-radius: 4px;\n            cursor: pointer;\n            font-size: 14px;\n            transition: background 0.3s;\n        }\n\n        .sort-btn:hover {\n            background: #bdc3c7;\n        }\n\n        .pagination-btn {\n            background: #3498db;\n            color: white;\n            border: none;\n            padding: 10px 16px;\n            border-radius: 6px;\n            cursor: pointer;\n            font-size: 14px;\n            font-weight: 600;\n            transition: all 0.3s;\n            min-width: 40px;\n        }\n\n        .pagination-btn:hover:not(:disabled) {\n            background: #2980b9;\n            transform: translateY(-1px);\n        }\n\n        .pagination-btn:disabled {\n            background: #bdc3c7;\n            cursor: not-allowed;\n            opacity: 0.6;\n        }\n\n        .save-kvs-btn {\n            background: #27ae60;\n            color: white;\n            border: none;\n            padding: 14px 40px;\n            border-radius: 6px;\n            cursor: pointer;\n            font-size: 15px;\n            font-weight: 600;\n            transition: all 0.3s;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n            justify-content: center;\n            min-width: 150px;\n        }\n\n        .save-kvs-btn:hover:not(:disabled) {\n            background: #229954;\n            transform: translateY(-1px);\n            box-shadow: 0 4px 8px rgba(39, 174, 96, 0.3);\n        }\n\n        .save-kvs-btn:disabled {\n            background: #95a5a6;\n            cursor: not-allowed;\n        }\n\n        .save-kvs-btn.loading::after {\n            content: \"\";\n            width: 16px;\n            height: 16px;\n            border: 2px solid #ffffff;\n            border-top-color: transparent;\n            border-radius: 50%;\n            animation: spin 0.6s linear infinite;\n        }\n\n        @keyframes spin {\n            to { transform: rotate(360deg); }\n        }\n\n        /* ===========================\n           Tab System\n           =========================== */\n        .tabs-container {\n            background: white;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n            margin-bottom: 30px;\n            overflow: hidden;\n        }\n\n        .tabs-header {\n            display: flex;\n            border-bottom: 2px solid #e3f2fd;\n            background: #f8f9fa;\n        }\n\n        .tab-btn {\n            flex: 1;\n            padding: 15px 20px;\n            background: none;\n            border: none;\n            font-size: 16px;\n            font-weight: 600;\n            color: #666;\n            cursor: pointer;\n            transition: all 0.3s;\n            border-bottom: 3px solid transparent;\n        }\n\n        .tab-btn:hover {\n            background: #e3f2fd;\n            color: #2c3e50;\n        }\n\n        .tab-btn.active {\n            color: #3498db;\n            border-bottom-color: #3498db;\n            background: white;\n        }\n\n        .tab-content {\n            display: none;\n            padding: 30px;\n        }\n\n        .tab-content.active {\n            display: block;\n        }\n\n        /* ===========================\n           KVS Configuration Section\n           =========================== */\n        .kvs-grid {\n            display: grid;\n            grid-template-columns: 1fr;\n            gap: 25px;\n            margin-bottom: 30px;\n        }\n\n        .kvs-item {\n            display: flex;\n            flex-direction: column;\n        }\n\n        .kvs-item label {\n            font-weight: 600;\n            margin-bottom: 10px;\n            color: #2c3e50;\n            font-size: 15px;\n        }\n\n        .kvs-item input,\n        .kvs-item textarea {\n            padding: 12px;\n            border: 2px solid #e1e8ed;\n            border-radius: 6px;\n            font-size: 14px;\n            font-family: 'Courier New', monospace;\n            transition: border-color 0.3s;\n            background: #f8f9fa;\n        }\n\n        .kvs-item textarea {\n            resize: vertical;\n            min-height: 250px;\n            line-height: 1.6;\n        }\n\n        .kvs-item input:focus,\n        .kvs-item textarea:focus {\n            outline: none;\n            border-color: #3498db;\n            background: white;\n        }\n\n        .kvs-item.limit-item input {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n        }\n\n        /* ===========================\n           Filters Section\n           =========================== */\n        .filters-section {\n            background: white;\n            padding: 25px;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n            margin-bottom: 30px;\n        }\n\n        .filters-section h2 {\n            font-size: 20px;\n            margin-bottom: 20px;\n            color: #2c3e50;\n        }\n\n        .filters-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));\n            gap: 20px;\n        }\n\n        .filter-item {\n            display: flex;\n            flex-direction: column;\n        }\n\n        .filter-item.reset-actions {\n            flex-direction: row;\n            justify-content: flex-end;\n            align-items: flex-end;\n            align-self: flex-end;\n            justify-self: flex-end;\n        }\n\n        @media (min-width: 1024px) {\n            .filters-grid {\n                grid-template-columns: repeat(5, minmax(180px, 1fr));\n            }\n\n            .filter-item.reset-actions {\n                grid-column: 5 / 6;\n            }\n        }\n\n        .filter-item label {\n            font-weight: 600;\n            margin-bottom: 8px;\n            color: #555;\n            font-size: 14px;\n        }\n\n        .filter-item input,\n        .filter-item select {\n            padding: 10px;\n            border: 1px solid #ddd;\n            border-radius: 4px;\n            font-size: 14px;\n        }\n\n        /* ===========================\n           Searchable Dropdown Styles\n           =========================== */\n        .searchable-dropdown {\n            position: relative;\n        }\n\n        .searchable-dropdown input.dropdown-search {\n            width: 100%;\n            padding: 10px;\n            padding-right: 35px;\n            border: 1px solid #ddd;\n            border-radius: 4px;\n            font-size: 14px;\n            cursor: pointer;\n            color: #333;\n            appearance: none;\n            -webkit-appearance: none;\n            -moz-appearance: none;\n            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"12\" height=\"12\" viewBox=\"0 0 12 12\"><path fill=\"%23333\" d=\"M6 9L1 4h10z\"/></svg>');\n            background-repeat: no-repeat;\n            background-position: right 12px center;\n        }\n\n        .searchable-dropdown input.dropdown-search::placeholder {\n            color: #333;\n            opacity: 1;\n        }\n\n        .searchable-dropdown input.dropdown-search:focus {\n            outline: none;\n            border-color: #3498db;\n        }\n\n        .searchable-dropdown .dropdown-options {\n            position: absolute;\n            top: 100%;\n            left: 0;\n            right: 0;\n            max-height: 250px;\n            overflow-y: auto;\n            background: white;\n            border: 1px solid #ddd;\n            border-top: none;\n            border-radius: 0 0 4px 4px;\n            z-index: 1000;\n            display: none;\n            box-shadow: 0 4px 8px rgba(0,0,0,0.1);\n        }\n\n        .searchable-dropdown .dropdown-options.show {\n            display: block;\n        }\n\n        .searchable-dropdown .dropdown-option {\n            padding: 10px;\n            cursor: pointer;\n            transition: background 0.2s;\n            font-size: 14px;\n        }\n\n        .searchable-dropdown .dropdown-option:hover {\n            background: #e3f2fd;\n        }\n\n        .searchable-dropdown .dropdown-option.selected {\n            background: #3498db;\n            color: white;\n        }\n\n        .searchable-dropdown .dropdown-option.no-results {\n            color: #999;\n            cursor: default;\n            text-align: center;\n        }\n\n        .searchable-dropdown .dropdown-option.no-results:hover {\n            background: white;\n        }\n\n        .filter-item select {\n            appearance: none;\n            -webkit-appearance: none;\n            -moz-appearance: none;\n            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"12\" height=\"12\" viewBox=\"0 0 12 12\"><path fill=\"%23333\" d=\"M6 9L1 4h10z\"/></svg>');\n            background-repeat: no-repeat;\n            background-position: right 12px center;\n            padding-right: 35px;\n        }\n\n        .range-slider {\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n\n        .range-value {\n            font-weight: 600;\n            color: #3498db;\n            min-width: 40px;\n        }\n\n        /* ===========================\n           Data Table Section\n           =========================== */\n        .data-section {\n            background: white;\n            padding: 25px;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n        }\n\n        .data-header {\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            margin-bottom: 20px;\n        }\n\n        .data-header h2 {\n            font-size: 20px;\n            color: #2c3e50;\n        }\n\n        .sort-controls {\n            display: flex;\n            gap: 10px;\n            align-items: center;\n        }\n\n        .sort-controls label {\n            font-weight: 600;\n            color: #555;\n        }\n\n        .sort-controls select {\n            padding: 8px 12px;\n            border: 1px solid #ddd;\n            border-radius: 4px;\n            font-size: 14px;\n            appearance: none;\n            -webkit-appearance: none;\n            -moz-appearance: none;\n            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"12\" height=\"12\" viewBox=\"0 0 12 12\"><path fill=\"%23333\" d=\"M6 9L1 4h10z\"/></svg>');\n            background-repeat: no-repeat;\n            background-position: right 12px center;\n            padding-right: 35px;\n        }\n\n        .results-count {\n            color: #666;\n            font-size: 14px;\n            margin-bottom: 15px;\n        }\n\n        .table-container {\n            overflow-x: auto;\n        }\n\n        table {\n            width: 100%;\n            border-collapse: collapse;\n            font-size: 14px;\n        }\n\n        thead {\n            background: #f8f9fa;\n            position: sticky;\n            top: 0;\n        }\n\n        th {\n            text-align: left;\n            padding: 12px;\n            font-weight: 600;\n            color: #555;\n            border-bottom: 2px solid #dee2e6;\n            white-space: nowrap;\n        }\n\n        td {\n            padding: 12px;\n            border-bottom: 1px solid #dee2e6;\n        }\n\n        tbody tr {\n            cursor: pointer;\n            transition: background 0.2s;\n        }\n\n        tbody tr:hover {\n            background: #f8f9fa;\n        }\n\n        .no-results {\n            text-align: center;\n            padding: 40px;\n            color: #999;\n            font-size: 16px;\n        }\n\n        /* ===========================\n           Status & Badge Components\n           =========================== */\n        .status-badge {\n            display: inline-block;\n            padding: 4px 12px;\n            border-radius: 12px;\n            font-size: 12px;\n            font-weight: 600;\n        }\n\n        .status-queued {\n            background: #fff3cd;\n            color: #856404;\n        }\n\n        .status-processed {\n            background: #d4edda;\n            color: #155724;\n        }\n\n        .lead-score {\n            display: inline-block;\n            padding: 4px 10px;\n            border-radius: 4px;\n            font-weight: 600;\n            background: #e3f2fd;\n            color: #1976d2;\n        }\n\n        .deal-link {\n            color: #3498db;\n            text-decoration: underline;\n            font-weight: 600;\n        }\n\n        .deal-link:hover {\n            color: #2980b9;\n        }\n\n        /* ===========================\n           Pagination\n           =========================== */\n        .pagination-container {\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            gap: 10px;\n            margin-top: 25px;\n            padding: 20px;\n        }\n\n        .pagination-info {\n            color: #666;\n            font-size: 14px;\n            font-weight: 600;\n            padding: 0 15px;\n        }\n\n        /* ===========================\n           Modal Components\n           =========================== */\n        .modal-overlay {\n            display: none;\n            position: fixed;\n            top: 0;\n            left: 0;\n            right: 0;\n            bottom: 0;\n            background: rgba(0, 0, 0, 0.5);\n            z-index: 1000;\n            justify-content: center;\n            align-items: center;\n            padding: 20px;\n        }\n\n        .modal-overlay.active {\n            display: flex;\n        }\n\n        .modal-content {\n            background: white;\n            border-radius: 8px;\n            max-width: 800px;\n            width: 100%;\n            max-height: 90vh;\n            overflow-y: auto;\n            position: relative;\n            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);\n        }\n\n        .modal-header {\n            padding: 25px;\n            border-bottom: 2px solid #dee2e6;\n            display: flex;\n            justify-content: space-between;\n            align-items: center;\n            position: sticky;\n            top: 0;\n            background: white;\n            z-index: 1;\n        }\n\n        .modal-header h2 {\n            font-size: 24px;\n            color: #2c3e50;\n        }\n\n        .modal-close {\n            background: none;\n            border: none;\n            font-size: 28px;\n            color: #999;\n            cursor: pointer;\n            line-height: 1;\n            padding: 0;\n            width: 30px;\n            height: 30px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            transition: color 0.3s;\n        }\n\n        .modal-close:hover {\n            color: #333;\n        }\n\n        .modal-body {\n            padding: 25px;\n        }\n\n        .modal-section {\n            margin-bottom: 25px;\n        }\n\n        .modal-section h3 {\n            font-size: 18px;\n            color: #2c3e50;\n            margin-bottom: 15px;\n            padding-bottom: 8px;\n            border-bottom: 2px solid #e3f2fd;\n        }\n\n        .modal-grid {\n            display: grid;\n            grid-template-columns: repeat(2, 1fr);\n            gap: 15px;\n        }\n\n        .modal-field {\n            display: flex;\n            flex-direction: column;\n        }\n\n        .modal-field.full-width {\n            grid-column: 1 / -1;\n        }\n\n        .modal-field label {\n            font-weight: 600;\n            color: #555;\n            font-size: 13px;\n            margin-bottom: 5px;\n        }\n\n        .modal-field .value {\n            color: #333;\n            font-size: 14px;\n            padding: 8px;\n            background: #f8f9fa;\n            border-radius: 4px;\n        }\n\n        .modal-field .value.long-text {\n            white-space: pre-wrap;\n            line-height: 1.6;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <!-- Header -->\n        <div class=\"header\">\n            <h1>🚚 VerpakkingenXL Lead Dashboard</h1>\n            <button class=\"refresh-btn\" onclick=\"app.refreshData()\">Refresh</button>\n        </div>\n\n        <!-- Tabs Container -->\n        <div class=\"tabs-container\">\n            <div class=\"tabs-header\">\n                <button class=\"tab-btn active\" onclick=\"app.switchTab('dashboard')\">📊 Dashboard</button>\n                <button class=\"tab-btn\" onclick=\"app.switchTab('kvs')\">⚙️ KVS Configuration</button>\n            </div>\n\n            <!-- Dashboard Tab -->\n            <div id=\"tab-dashboard\" class=\"tab-content active\">\n                <!-- Filters Section -->\n                <div class=\"filters-section\">\n                    <h2>Filters</h2>\n                    <div class=\"filters-grid\">\n                        <div class=\"filter-item\">\n                            <label for=\"search\">Search</label>\n                            <input type=\"text\" id=\"search\" placeholder=\"Org name, Customer name, Email...\">\n                        </div>\n                        <div class=\"filter-item\">\n                            <label for=\"status\">Status</label>\n                            <select id=\"status\">\n                                <option value=\"all\">All</option>\n                                <option value=\"queued\">Queued</option>\n                                <option value=\"processed\">Processed</option>\n                            </select>\n                        </div>\n                        <div class=\"filter-item\">\n                            <label for=\"zipcode\">Zipcode</label>\n                            <div class=\"searchable-dropdown\" data-dropdown=\"zipcode\">\n                                <input type=\"text\" class=\"dropdown-search\" id=\"zipcode\" placeholder=\"All\" readonly data-value=\"all\">\n                                <div class=\"dropdown-options\"></div>\n                            </div>\n                        </div>\n                        <div class=\"filter-item\">\n                            <label for=\"city\">City</label>\n                            <div class=\"searchable-dropdown\" data-dropdown=\"city\">\n                                <input type=\"text\" class=\"dropdown-search\" id=\"city\" placeholder=\"All\" readonly data-value=\"all\">\n                                <div class=\"dropdown-options\"></div>\n                            </div>\n                        </div>\n                        <div class=\"filter-item\">\n                            <label for=\"country\">Country</label>\n                            <div class=\"searchable-dropdown\" data-dropdown=\"country\">\n                                <input type=\"text\" class=\"dropdown-search\" id=\"country\" placeholder=\"All\" readonly data-value=\"all\">\n                                <div class=\"dropdown-options\"></div>\n                            </div>\n                        </div>\n                        <div class=\"filter-item\">\n                            <label for=\"shipping_volume\">Estimated Shipping Volume</label>\n                            <select id=\"shipping_volume\">\n                                <option value=\"all\">All</option>\n                                <option value=\"low\">Low</option>\n                                <option value=\"medium\">Medium</option>\n                                <option value=\"high\">High</option>\n                            </select>\n                        </div>\n                        <div class=\"filter-item\">\n                            <label for=\"logistics_type\">Logistics Type</label>\n                            <select id=\"logistics_type\">\n                                <option value=\"all\">All</option>\n                                <option value=\"parcels\">Parcels</option>\n                                <option value=\"pallets\">Pallets</option>\n                                <option value=\"both\">Both</option>\n                            </select>\n                        </div>\n                        <div class=\"filter-item\">\n                            <label>Lead Score Range: <span class=\"range-value\" id=\"score_display\">0.0 - 10.0</span></label>\n                            <div class=\"range-slider\">\n                                <input type=\"number\" id=\"score_min\" min=\"0\" max=\"10\" step=\"0.1\" value=\"0\" style=\"width: 80px;\">\n                                <span>to</span>\n                                <input type=\"number\" id=\"score_max\" min=\"0\" max=\"10\" step=\"0.1\" value=\"10\" style=\"width: 80px;\">\n                            </div>\n                        </div>\n                        <div class=\"filter-item reset-actions\">\n                            <button class=\"reset-filters-btn\" onclick=\"app.resetFilters()\">Reset Filters</button>\n                        </div>\n                    </div>\n                </div>\n\n                <!-- Data Section -->\n                <div class=\"data-section\">\n                    <div class=\"data-header\">\n                        <h2>Leads Data</h2>\n                        <div class=\"sort-controls\">\n                            <label>Sort by:</label>\n                            <select id=\"sort_field\">\n                                <option value=\"createdAt\">Created Date</option>\n                                <option value=\"lead_score\">Lead Score</option>\n                                <option value=\"total_orders\">Total Orders</option>\n                                <option value=\"paid_orders\">Paid Orders</option>\n                                <option value=\"total_value_incl\">Total Value (incl)</option>\n                            </select>\n                            <button class=\"sort-btn\" onclick=\"app.toggleSort()\">\n                                <span id=\"sort_direction\">↓</span>\n                            </button>\n                        </div>\n                    </div>\n                    <div class=\"results-count\" id=\"results_count\">Results</div>\n                    <div class=\"table-container\">\n                        <table id=\"data_table\">\n                            <thead>\n                                <tr>\n                                    <th>Organization</th>\n                                    <th>Customer Name</th>\n                                    <th>Email</th>\n                                    <th>Phone</th>\n                                    <th>Address</th>\n                                    <th>Shipping Vol.</th>\n                                    <th>Logistics</th>\n                                    <th>Total Orders</th>\n                                    <th>Paid Orders</th>\n                                    <th>Total Value</th>\n                                    <th>Lead Score</th>\n                                    <th>Status</th>\n                                    <th>Created</th>\n                                </tr>\n                            </thead>\n                            <tbody id=\"table_body\">\n                                <tr><td colspan=\"13\" class=\"no-results\">No Results</td></tr>\n                            </tbody>\n                        </table>\n                    </div>\n                    \n                    <!-- Pagination -->\n                    <div class=\"pagination-container\" id=\"pagination_container\" style=\"display: none;\">\n                        <button class=\"pagination-btn\" onclick=\"app.goToPage('first')\" id=\"btn_first\">««</button>\n                        <button class=\"pagination-btn\" onclick=\"app.goToPage('prev')\" id=\"btn_prev\">«</button>\n                        <span class=\"pagination-info\" id=\"pagination_info\">Page 1 of 1</span>\n                        <button class=\"pagination-btn\" onclick=\"app.goToPage('next')\" id=\"btn_next\">»</button>\n                        <button class=\"pagination-btn\" onclick=\"app.goToPage('last')\" id=\"btn_last\">»»</button>\n                    </div>\n                </div>\n            </div>\n\n            <!-- KVS Configuration Tab -->\n            <div id=\"tab-kvs\" class=\"tab-content\">\n                <h2 style=\"margin-bottom: 25px; color: #2c3e50; font-size: 24px;\">⚙️ KVS Configuration</h2>\n                \n                <div class=\"kvs-grid\">\n                    <div class=\"kvs-item\">\n                        <label for=\"system_prompt_base_agent\">📝 System Prompt - Base Agent</label>\n                        <textarea id=\"system_prompt_base_agent\" placeholder=\"Enter the system prompt for the base agent...\"></textarea>\n                    </div>\n                    \n                    <div class=\"kvs-item\">\n                        <label for=\"system_prompt_web_search_agent\">🔍 System Prompt - Web Search Agent</label>\n                        <textarea id=\"system_prompt_web_search_agent\" placeholder=\"Enter the system prompt for the web search agent...\"></textarea>\n                    </div>\n                    \n                    <div class=\"kvs-item limit-item\">\n                        <label for=\"total_limit\">🎯 Total Limit</label>\n                        <input type=\"number\" id=\"total_limit\" placeholder=\"Enter total limit...\">\n                    </div>\n                </div>\n                \n                <button class=\"save-kvs-btn\" onclick=\"app.saveKVS()\" id=\"save-kvs-btn\">\n                    <span id=\"save-btn-text\">💾 Save Configuration</span>\n                </button>\n            </div>\n        </div>\n    </div>\n\n    <!-- Modal -->\n    <div class=\"modal-overlay\" id=\"modal_overlay\" onclick=\"app.closeModalOnOverlay(event)\">\n        <div class=\"modal-content\" onclick=\"event.stopPropagation()\">\n            <div class=\"modal-header\">\n                <h2 id=\"modal_title\">Lead Details</h2>\n                <button class=\"modal-close\" onclick=\"app.closeModal()\">&times;</button>\n            </div>\n            <div class=\"modal-body\" id=\"modal_body\">\n                <!-- Content will be populated by JavaScript -->\n            </div>\n        </div>\n    </div>\n\n    <script>\n        // ============================================\n        // VerpakkingenXL Dashboard Application\n        // ============================================\n        const app = (() => {\n            // ========================================\n            // State Management\n            // ========================================\n            const state = {\n                allData: [],\n                kvsData: [],\n                filteredData: [],\n                sortDirection: 'desc',\n                currentPage: 1,\n                rowsPerPage: 20,\n                kvsFieldsEdited: false,\n                originalKvsValues: {},\n                locationData: null\n            };\n\n            // ========================================\n            // Constants\n            // ========================================\n            const ELEMENTS = {\n                tableBody: document.getElementById('table_body'),\n                resultsCount: document.getElementById('results_count'),\n                paginationContainer: document.getElementById('pagination_container'),\n                paginationInfo: document.getElementById('pagination_info'),\n                sortDirection: document.getElementById('sort_direction'),\n                modalOverlay: document.getElementById('modal_overlay'),\n                modalTitle: document.getElementById('modal_title'),\n                modalBody: document.getElementById('modal_body'),\n                saveBtnText: document.getElementById('save-btn-text'),\n                saveBtn: document.getElementById('save-kvs-btn'),\n                scoreDisplay: document.getElementById('score_display')\n            };\n\n            const KVS_WEBHOOK_URL = 'https://your0n8n-domain/webhook/update-kvs';\n\n            // ========================================\n            // Data Initialization\n            // ========================================\n            function initializeData() {\n                try {\n                    // Check if the data exists and is valid\n                    if (typeof window.kvsDataFromN8n === 'undefined' || typeof window.verpakkingenxlDataFromN8n === 'undefined') {\n                        console.warn('Data sources not found - using empty arrays');\n                        state.kvsData = [];\n                        state.allData = [];\n                    } else {\n                        state.kvsData = Array.isArray(window.kvsDataFromN8n) ? window.kvsDataFromN8n : [];\n                        state.allData = Array.isArray(window.verpakkingenxlDataFromN8n) ? window.verpakkingenxlDataFromN8n : [];\n                    }\n\n                    populateKVS();\n                    \n                    // Only populate filters and render table if we have data\n                    if (state.allData.length > 0) {\n                        buildLocationMappings();\n                        populateUniqueFilters();\n                        applyFiltersAndSort();\n                    } else {\n                        displayNoData();\n                    }\n                } catch (error) {\n                    console.error('Data initialization error:', error);\n                    console.error('Error details:', error.message, error.stack);\n                    displayNoData();\n                }\n            }\n\n            function displayError(message) {\n                ELEMENTS.tableBody.innerHTML = `<tr><td colspan=\"13\" class=\"no-results\" style=\"color: #e74c3c;\">${message}</td></tr>`;\n                ELEMENTS.resultsCount.textContent = message;\n            }\n\n            // ========================================\n            // KVS Configuration Management\n            // ========================================\n            function populateKVS() {\n                const fields = ['system_prompt_base_agent', 'system_prompt_web_search_agent', 'total_limit'];\n                const placeholders = {\n                    'system_prompt_base_agent': 'No Available Data',\n                    'system_prompt_web_search_agent': 'No Available Data',\n                    'total_limit': 'No Data'\n                };\n\n                if (state.kvsData.length === 0) {\n                    fields.forEach(fieldId => {\n                        const element = document.getElementById(fieldId);\n                        element.value = '';\n                        element.placeholder = placeholders[fieldId];\n                    });\n                } else {\n                    state.kvsData.forEach(item => {\n                        const element = document.getElementById(item.key);\n                        if (element) {\n                            element.value = item.value;\n                            element.placeholder = '';\n                            state.originalKvsValues[item.key] = item.value;\n                        }\n                    });\n                }\n\n                attachKVSEventListeners();\n                updateSaveButtonState();\n            }\n\n            function attachKVSEventListeners() {\n                ['system_prompt_base_agent', 'system_prompt_web_search_agent', 'total_limit']\n                    .forEach(id => {\n                        document.getElementById(id).addEventListener('input', onKvsFieldChange);\n                    });\n            }\n\n            function onKvsFieldChange() {\n                state.kvsFieldsEdited = true;\n                updateSaveButtonState();\n            }\n\n            function updateSaveButtonState() {\n                ELEMENTS.saveBtn.disabled = !state.kvsFieldsEdited;\n            }\n\n            async function saveKVS() {\n                const payload = buildKVSPayload();\n                \n                if (payload.length === 0) {\n                    alert('⚠️ No fields have been edited. Please make changes before saving.');\n                    return;\n                }\n\n                setSaveButtonState('loading');\n\n                try {\n                    const response = await fetch(KVS_WEBHOOK_URL, {\n                        method: 'POST',\n                        headers: { 'Content-Type': 'application/json' },\n                        body: JSON.stringify(payload)\n                    });\n\n                    if (response.status === 200) {\n                        handleSaveSuccess();\n                    } else {\n                        throw new Error('Failed to save');\n                    }\n                } catch (error) {\n                    handleSaveError();\n                    console.error('Save error:', error);\n                }\n            }\n\n            function buildKVSPayload() {\n                const payload = [];\n                const fields = [\n                    { id: 'system_prompt_base_agent', key: 'system_prompt_base_agent' },\n                    { id: 'system_prompt_web_search_agent', key: 'system_prompt_web_search_agent' },\n                    { id: 'total_limit', key: 'total_limit' }\n                ];\n\n                fields.forEach(field => {\n                    const value = document.getElementById(field.id).value;\n                    if (value) {\n                        payload.push({ key: field.key, value });\n                    }\n                });\n\n                return payload;\n            }\n\n            function setSaveButtonState(status) {\n                ELEMENTS.saveBtn.disabled = true;\n                ELEMENTS.saveBtn.classList.remove('loading', 'success');\n                \n                switch(status) {\n                    case 'loading':\n                        ELEMENTS.saveBtn.classList.add('loading');\n                        ELEMENTS.saveBtnText.textContent = 'Saving...';\n                        break;\n                    case 'success':\n                        ELEMENTS.saveBtn.classList.add('success');\n                        ELEMENTS.saveBtnText.textContent = '✅ Saved Successfully!';\n                        break;\n                    case 'error':\n                        ELEMENTS.saveBtnText.textContent = '❌ Save Failed';\n                        break;\n                }\n            }\n\n            function handleSaveSuccess() {\n                setSaveButtonState('success');\n                state.kvsFieldsEdited = false;\n\n                setTimeout(() => {\n                    ELEMENTS.saveBtnText.textContent = '💾 Save Configuration';\n                    updateSaveButtonState();\n                }, 2000);\n            }\n\n            function handleSaveError() {\n                setSaveButtonState('error');\n                alert('❌ Failed to save KVS configuration. Please try again.');\n\n                setTimeout(() => {\n                    ELEMENTS.saveBtn.disabled = false;\n                    ELEMENTS.saveBtnText.textContent = '💾 Save Configuration';\n                }, 2000);\n            }\n\n            // ========================================\n            // Filter Management\n            // ========================================\n            function buildLocationMappings() {\n                const countries = new Map();\n                const cityTo = new Map();\n                const zipcodeTo = new Map();\n\n                state.allData.forEach(item => {\n                    const country = (item.address_billing_country || '').trim();\n                    const city = (item.address_billing_city || '').trim();\n                    const zipcode = (item.address_billing_zipcode || '').trim();\n\n                    if (country) {\n                        if (!countries.has(country)) {\n                            countries.set(country, { cities: new Set(), zipcodes: new Set() });\n                        }\n                        if (city) countries.get(country).cities.add(city);\n                        if (zipcode) countries.get(country).zipcodes.add(zipcode);\n                    }\n\n                    if (city) {\n                        if (!cityTo.has(city)) {\n                            cityTo.set(city, { country: country || null, zipcodes: new Set() });\n                        }\n                        if (country && !cityTo.get(city).country) {\n                            cityTo.get(city).country = country;\n                        }\n                        if (zipcode) cityTo.get(city).zipcodes.add(zipcode);\n                    }\n\n                    if (zipcode) {\n                        if (!zipcodeTo.has(zipcode)) {\n                            zipcodeTo.set(zipcode, { city: city || null, country: country || null });\n                        }\n                        const existing = zipcodeTo.get(zipcode);\n                        if (city && !existing.city) existing.city = city;\n                        if (country && !existing.country) existing.country = country;\n                    }\n                });\n\n                state.locationData = {\n                    countries,\n                    cityTo,\n                    zipcodeTo,\n                    allCountries: [...countries.keys()].sort(),\n                    allCities: [...cityTo.keys()].sort(),\n                    allZipcodes: [...zipcodeTo.keys()].sort()\n                };\n            }\n\n            function populateUniqueFilters() {\n                if (!state.locationData) buildLocationMappings();\n                const { allCountries = [], allCities = [], allZipcodes = [] } = state.locationData || {};\n\n                const populateSearchableDropdown = (dropdownId, values) => {\n                    const dropdown = document.querySelector(`[data-dropdown=\"${dropdownId}\"]`);\n                    if (!dropdown) return;\n                    \n                    const optionsContainer = dropdown.querySelector('.dropdown-options');\n                    const input = dropdown.querySelector('.dropdown-search');\n                    \n                    // Store all values for filtering\n                    dropdown.dataset.allValues = JSON.stringify(['all', ...values]);\n                    \n                    // Render all options\n                    renderDropdownOptions(dropdown, ['all', ...values]);\n                    \n                    // Set up search functionality\n                    setupSearchableDropdown(dropdown, input, optionsContainer);\n                };\n\n                populateSearchableDropdown('country', allCountries);\n                populateSearchableDropdown('city', allCities);\n                populateSearchableDropdown('zipcode', allZipcodes);\n            }\n\n            function getDropdown(dropdownId) {\n                return document.querySelector(`[data-dropdown=\"${dropdownId}\"]`);\n            }\n\n            function updateDropdownOptions(dropdownId, values, options = {}) {\n                const dropdown = getDropdown(dropdownId);\n                if (!dropdown) return;\n\n                const keepSelection = options.keepSelection !== false;\n                const normalizedValues = ['all', ...(values || [])];\n                dropdown.dataset.allValues = JSON.stringify(normalizedValues);\n                renderDropdownOptions(dropdown, normalizedValues);\n\n                const input = dropdown.querySelector('.dropdown-search');\n                const currentValue = input.dataset.value || 'all';\n                if (!keepSelection || !normalizedValues.includes(currentValue)) {\n                    selectDropdownOption(dropdown, 'all', { skipCascade: true, skipFilters: true });\n                } else {\n                    input.value = currentValue === 'all' ? 'All' : currentValue;\n                }\n            }\n\n            function setDropdownSelection(dropdownId, value, options = {}) {\n                const dropdown = getDropdown(dropdownId);\n                if (!dropdown) return;\n                const targetValue = value || 'all';\n                const skipCascade = options.skipCascade !== undefined \n                    ? options.skipCascade \n                    : !options.triggerCascade;\n                const skipFilters = options.skipFilters !== undefined ? options.skipFilters : true;\n                \n                selectDropdownOption(dropdown, targetValue, { skipCascade, skipFilters });\n            }\n\n            function renderDropdownOptions(dropdown, values, filterText = '') {\n                const optionsContainer = dropdown.querySelector('.dropdown-options');\n                const input = dropdown.querySelector('.dropdown-search');\n                const currentValue = input.dataset.value || 'all';\n                \n                const filtered = filterText \n                    ? values.filter(v => v.toLowerCase().includes(filterText.toLowerCase()))\n                    : values;\n                \n                if (filtered.length === 0) {\n                    optionsContainer.innerHTML = '<div class=\"dropdown-option no-results\">No results found</div>';\n                    return;\n                }\n                \n                optionsContainer.innerHTML = filtered.map(value => {\n                    const displayText = value === 'all' ? 'All' : value;\n                    const isSelected = value === currentValue ? 'selected' : '';\n                    return `<div class=\"dropdown-option ${isSelected}\" data-value=\"${value}\">${displayText}</div>`;\n                }).join('');\n                \n                // Add click handlers\n                optionsContainer.querySelectorAll('.dropdown-option:not(.no-results)').forEach(option => {\n                    option.addEventListener('click', function() {\n                        selectDropdownOption(dropdown, this.dataset.value);\n                    });\n                });\n            }\n\n            function setupSearchableDropdown(dropdown, input, optionsContainer) {\n                // Show options on click\n                input.addEventListener('click', function(e) {\n                    e.stopPropagation();\n                    closeAllDropdowns();\n                    input.readOnly = false;\n                    input.select();\n                    optionsContainer.classList.add('show');\n                    const allValues = JSON.parse(dropdown.dataset.allValues || '[]');\n                    renderDropdownOptions(dropdown, allValues, '');\n                });\n                \n                // Filter on input\n                input.addEventListener('input', function() {\n                    const allValues = JSON.parse(dropdown.dataset.allValues || '[]');\n                    renderDropdownOptions(dropdown, allValues, input.value);\n                });\n                \n                // Prevent closing when clicking inside dropdown\n                optionsContainer.addEventListener('click', function(e) {\n                    e.stopPropagation();\n                });\n            }\n\n            function selectDropdownOption(dropdown, value, options = {}) {\n                const { skipCascade = false, skipFilters = false } = options;\n                const input = dropdown.querySelector('.dropdown-search');\n                const optionsContainer = dropdown.querySelector('.dropdown-options');\n                \n                input.dataset.value = value;\n                input.value = value === 'all' ? 'All' : value;\n                input.readOnly = true;\n                optionsContainer.classList.remove('show');\n                \n                if (!skipCascade) {\n                    handleLocationCascade(dropdown.dataset.dropdown, value);\n                }\n                \n                if (!skipFilters) {\n                    applyFiltersAndSort();\n                }\n            }\n\n            function handleLocationCascade(type, value) {\n                if (!state.locationData || !['country', 'city', 'zipcode'].includes(type)) return;\n\n                const { countries, cityTo, zipcodeTo, allCities, allZipcodes } = state.locationData;\n                const toArray = set => set ? Array.from(set).sort() : [];\n                const currentSelections = {\n                    country: document.getElementById('country').dataset.value || 'all',\n                    city: document.getElementById('city').dataset.value || 'all'\n                };\n\n                if (type === 'country') {\n                    if (value === 'all') {\n                        updateDropdownOptions('city', allCities);\n                        updateDropdownOptions('zipcode', allZipcodes);\n                    } else {\n                        const info = countries.get(value);\n                        updateDropdownOptions('city', toArray(info?.cities));\n                        updateDropdownOptions('zipcode', toArray(info?.zipcodes));\n                    }\n                }\n\n                if (type === 'city') {\n                    if (value === 'all') {\n                        if (currentSelections.country !== 'all') {\n                            const countryInfo = countries.get(currentSelections.country);\n                            updateDropdownOptions('zipcode', toArray(countryInfo?.zipcodes));\n                        } else {\n                            updateDropdownOptions('zipcode', allZipcodes);\n                        }\n                    } else {\n                        const info = cityTo.get(value);\n                        updateDropdownOptions('zipcode', toArray(info?.zipcodes));\n                        if (info?.country && currentSelections.country !== info.country) {\n                            setDropdownSelection('country', info.country);\n                        }\n                    }\n                }\n\n                if (type === 'zipcode') {\n                    if (value === 'all') {\n                        if (currentSelections.city !== 'all') {\n                            const cityInfo = cityTo.get(currentSelections.city);\n                            updateDropdownOptions('zipcode', toArray(cityInfo?.zipcodes));\n                        } else if (currentSelections.country !== 'all') {\n                            const countryInfo = countries.get(currentSelections.country);\n                            updateDropdownOptions('zipcode', toArray(countryInfo?.zipcodes));\n                        } else {\n                            updateDropdownOptions('zipcode', allZipcodes);\n                        }\n                    } else {\n                        const info = zipcodeTo.get(value);\n                        if (!info) return;\n\n                        if (info.city) {\n                            setDropdownSelection('city', info.city, { triggerCascade: true });\n                        }\n\n                        const currentCountry = document.getElementById('country').dataset.value || 'all';\n                        if (info.country && currentCountry !== info.country) {\n                            setDropdownSelection('country', info.country, { triggerCascade: true });\n                        } else if (info.country && !info.city) {\n                            // Ensure dropdown options reflect the matched country even if already selected\n                            const countryInfo = countries.get(info.country);\n                            updateDropdownOptions('city', toArray(countryInfo?.cities));\n                            updateDropdownOptions('zipcode', toArray(countryInfo?.zipcodes));\n                        }\n                    }\n                }\n            }\n\n            function closeAllDropdowns() {\n                document.querySelectorAll('.dropdown-options.show').forEach(dropdown => {\n                    dropdown.classList.remove('show');\n                    const input = dropdown.parentElement.querySelector('.dropdown-search');\n                    const currentValue = input.dataset.value || 'all';\n                    input.value = currentValue === 'all' ? 'All' : currentValue;\n                    input.readOnly = true;\n                });\n            }\n\n            function getFilterValues() {\n                return {\n                    search: document.getElementById('search').value.toLowerCase(),\n                    status: document.getElementById('status').value,\n                    zipcode: document.getElementById('zipcode').dataset.value || 'all',\n                    city: document.getElementById('city').dataset.value || 'all',\n                    country: document.getElementById('country').dataset.value || 'all',\n                    shippingVolume: document.getElementById('shipping_volume').value,\n                    logisticsType: document.getElementById('logistics_type').value,\n                    scoreMin: parseFloat(document.getElementById('score_min').value),\n                    scoreMax: parseFloat(document.getElementById('score_max').value)\n                };\n            }\n\n            function filterItem(item, filters) {\n                // Search filter\n                if (filters.search) {\n                    const searchFields = [item.org_name, item.customer_name, item.email]\n                        .map(f => (f || '').toLowerCase());\n                    if (!searchFields.some(field => field.includes(filters.search))) return false;\n                }\n\n                // Dropdown filters\n                if (filters.status !== 'all' && item.status !== filters.status) return false;\n                if (filters.zipcode !== 'all' && item.address_billing_zipcode !== filters.zipcode) return false;\n                if (filters.city !== 'all' && item.address_billing_city !== filters.city) return false;\n                if (filters.country !== 'all' && item.address_billing_country !== filters.country) return false;\n                if (filters.shippingVolume !== 'all' && item.estimated_shipping_volume !== filters.shippingVolume) return false;\n                if (filters.logisticsType !== 'all' && item.likely_logistics_type !== filters.logisticsType) return false;\n\n                // Score range filter\n                if (item.lead_score < filters.scoreMin || item.lead_score > filters.scoreMax) return false;\n\n                return true;\n            }\n\n            // ========================================\n            // Sorting & Filtering\n            // ========================================\n            function applyFiltersAndSort() {\n                const filters = getFilterValues();\n                state.filteredData = state.allData.filter(item => filterItem(item, filters));\n                \n                sortData();\n                state.currentPage = 1;\n                renderTable();\n                updatePagination();\n            }\n\n            function sortData() {\n                const sortField = document.getElementById('sort_field').value;\n                \n                state.filteredData.sort((a, b) => {\n                    let aVal = a[sortField];\n                    let bVal = b[sortField];\n\n                    if (sortField === 'createdAt') {\n                        aVal = new Date(aVal);\n                        bVal = new Date(bVal);\n                    }\n\n                    const comparison = aVal > bVal ? 1 : -1;\n                    return state.sortDirection === 'asc' ? comparison : -comparison;\n                });\n            }\n\n            function toggleSort() {\n                state.sortDirection = state.sortDirection === 'asc' ? 'desc' : 'asc';\n                ELEMENTS.sortDirection.textContent = state.sortDirection === 'asc' ? '↑' : '↓';\n                applyFiltersAndSort();\n            }\n\n            // ========================================\n            // Table Rendering\n            // ========================================\n            function renderTable() {\n                if (state.allData.length === 0) {\n                    displayNoData();\n                    return;\n                }\n\n                if (state.filteredData.length === 0) {\n                    displayNoResults();\n                    return;\n                }\n\n                const pageData = getPaginatedData();\n                updateResultsCount(pageData);\n                renderTableRows(pageData);\n                togglePaginationVisibility();\n            }\n\n            function displayNoData() {\n                ELEMENTS.resultsCount.textContent = 'No Available Data';\n                ELEMENTS.tableBody.innerHTML = '<tr><td colspan=\"13\" class=\"no-results\">No Available Data</td></tr>';\n            }\n\n            function displayNoResults() {\n                ELEMENTS.resultsCount.textContent = `Showing 0 of ${state.allData.length} leads`;\n                ELEMENTS.tableBody.innerHTML = '<tr><td colspan=\"13\" class=\"no-results\">No results found</td></tr>';\n                ELEMENTS.paginationContainer.style.display = 'none';\n            }\n\n            function getPaginatedData() {\n                const startIdx = (state.currentPage - 1) * state.rowsPerPage;\n                const endIdx = Math.min(startIdx + state.rowsPerPage, state.filteredData.length);\n                return {\n                    items: state.filteredData.slice(startIdx, endIdx),\n                    startIdx,\n                    endIdx\n                };\n            }\n\n            function updateResultsCount(pageData) {\n                ELEMENTS.resultsCount.textContent = \n                    `Showing ${pageData.startIdx + 1}-${pageData.endIdx} of ${state.filteredData.length} leads (${state.allData.length} total)`;\n            }\n\n            function togglePaginationVisibility() {\n                ELEMENTS.paginationContainer.style.display = \n                    state.filteredData.length > state.rowsPerPage ? 'flex' : 'none';\n            }\n\n            function renderTableRows(pageData) {\n                ELEMENTS.tableBody.innerHTML = pageData.items.map(item => createTableRow(item)).join('');\n            }\n\n            function createTableRow(item) {\n                const isProcessed = item.status === 'processed';\n                \n                const orgLink = (isProcessed && item.org_id)\n                    ? `<a href=\"https://verpakkingenxl.pipedrive.com/organization/${item.org_id}\" class=\"deal-link\" onclick=\"app.openDealLink('https://verpakkingenxl.pipedrive.com/organization/${item.org_id}', event); return false;\">${item.org_name || 'N/A'}</a>`\n                    : (item.org_name || 'N/A');\n                \n                const personLink = (isProcessed && item.person_id)\n                    ? `<a href=\"https://verpakkingenxl.pipedrive.com/person/${item.person_id}\" class=\"deal-link\" onclick=\"app.openDealLink('https://verpakkingenxl.pipedrive.com/person/${item.person_id}', event); return false;\">${item.customer_name || 'N/A'}</a>`\n                    : (item.customer_name || 'N/A');\n                \n                return `\n                    <tr onclick=\"app.openModal(${item.id})\">\n                        <td>${orgLink}</td>\n                        <td>${personLink}</td>\n                        <td>${item.email || 'N/A'}</td>\n                        <td>${item.phone || 'N/A'}</td>\n                        <td>${formatAddress(item)}</td>\n                        <td>${item.estimated_shipping_volume || 'N/A'}</td>\n                        <td>${item.likely_logistics_type || 'N/A'}</td>\n                        <td>${item.total_orders || 0}</td>\n                        <td>${item.paid_orders || 0}</td>\n                        <td>€${(item.total_value_incl || 0).toFixed(2)}</td>\n                        <td><span class=\"lead-score\">${item.lead_score.toFixed(1)}</span></td>\n                        <td>${createStatusCell(item)}</td>\n                        <td>${new Date(item.createdAt).toLocaleDateString('nl-NL', { timeZone: 'Europe/Berlin' })}</td>\n                    </tr>\n                `;\n            }\n\n            function formatAddress(item) {\n                return `${item.address_billing_street} ${item.address_billing_number}<br>` +\n                       `${item.address_billing_zipcode} ${item.address_billing_city}<br>` +\n                       `${item.address_billing_country}`;\n            }\n\n            function createStatusCell(item) {\n                if (item.status === 'processed' && item.deal_id) {\n                    return `<a href=\"https://verpakkingenxl.pipedrive.com/deal/${item.deal_id}\" class=\"deal-link\" onclick=\"app.openDealLink('https://verpakkingenxl.pipedrive.com/deal/${item.deal_id}', event); return false;\">Processed</a>`;\n                }\n                const statusText = item.status.charAt(0).toUpperCase() + item.status.slice(1);\n                return `<span class=\"status-badge status-${item.status}\">${statusText}</span>`;\n            }\n\n            // ========================================\n            // Pagination\n            // ========================================\n            function updatePagination() {\n                const totalPages = Math.ceil(state.filteredData.length / state.rowsPerPage);\n                ELEMENTS.paginationInfo.textContent = `Page ${state.currentPage} of ${totalPages}`;\n\n                const buttons = {\n                    first: document.getElementById('btn_first'),\n                    prev: document.getElementById('btn_prev'),\n                    next: document.getElementById('btn_next'),\n                    last: document.getElementById('btn_last')\n                };\n\n                buttons.first.disabled = state.currentPage === 1;\n                buttons.prev.disabled = state.currentPage === 1;\n                buttons.next.disabled = state.currentPage === totalPages;\n                buttons.last.disabled = state.currentPage === totalPages;\n            }\n\n            function goToPage(action) {\n                const totalPages = Math.ceil(state.filteredData.length / state.rowsPerPage);\n\n                switch(action) {\n                    case 'first': state.currentPage = 1; break;\n                    case 'prev': if (state.currentPage > 1) state.currentPage--; break;\n                    case 'next': if (state.currentPage < totalPages) state.currentPage++; break;\n                    case 'last': state.currentPage = totalPages; break;\n                }\n\n                renderTable();\n                updatePagination();\n            }\n\n            // ========================================\n            // Modal Management\n            // ========================================\n            function openModal(id) {\n                const item = state.allData.find(d => d.id === id);\n                if (!item) return;\n\n                ELEMENTS.modalTitle.textContent = item.org_name || 'Lead Details';\n                ELEMENTS.modalBody.innerHTML = createModalContent(item);\n                ELEMENTS.modalOverlay.classList.add('active');\n            }\n\n            function createModalContent(item) {\n                return `\n                    ${createModalSection('Status & Deal Information', createStatusSection(item))}\n                    ${createModalSection('Organization Details', createOrgDetailsSection(item))}\n                    ${createModalSection('Customer Info / Contact Details', createContactSection(item))}\n                    ${createModalSection('Billing Address', createAddressSection(item))}\n                    ${createModalSection('Order Detail History from Our Shop', createOrderHistorySection(item))}\n                    ${createModalSection('AI Analysis', createAIOutputSection(item))}\n                    ${createModalSection('Created At', `<div class=\"modal-field\"><label>Timestamp</label><div class=\"value\">${new Date(item.createdAt).toLocaleString('nl-NL', { timeZone: 'Europe/Berlin', year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' })}</div></div>`)}\n                `;\n            }\n\n            function createModalSection(title, content) {\n                return `\n                    <div class=\"modal-section\">\n                        <h3>${title}</h3>\n                        <div class=\"modal-grid\">${content}</div>\n                    </div>\n                `;\n            }\n\n            function createModalField(label, value, isFullWidth = false) {\n                return `\n                    <div class=\"modal-field ${isFullWidth ? 'full-width' : ''}\">\n                        <label>${label}</label>\n                        <div class=\"value ${isFullWidth ? 'long-text' : ''}\">${value}</div>\n                    </div>\n                `;\n            }\n\n            function createStatusSection(item) {\n                const statusBadge = `<span class=\"status-badge status-${item.status}\">${item.status.charAt(0).toUpperCase() + item.status.slice(1)}</span>`;\n                const isProcessed = item.status === 'processed';\n                \n                let links = '';\n                \n                if (isProcessed && item.org_id) {\n                    links += `<div class=\"modal-field\"><label>Organization Link</label><div class=\"value\"><a href=\"https://verpakkingenxl.pipedrive.com/organization/${item.org_id}\" class=\"deal-link\" onclick=\"app.openDealLink('https://verpakkingenxl.pipedrive.com/organization/${item.org_id}', event); return false;\">View Organization ↗</a></div></div>`;\n                }\n                \n                if (isProcessed && item.person_id) {\n                    links += `<div class=\"modal-field\"><label>Person Link</label><div class=\"value\"><a href=\"https://verpakkingenxl.pipedrive.com/person/${item.person_id}\" class=\"deal-link\" onclick=\"app.openDealLink('https://verpakkingenxl.pipedrive.com/person/${item.person_id}', event); return false;\">View Person ↗</a></div></div>`;\n                }\n                \n                if (isProcessed && item.deal_id) {\n                    links += `<div class=\"modal-field\"><label>Deal Link</label><div class=\"value\"><a href=\"https://verpakkingenxl.pipedrive.com/deal/${item.deal_id}\" class=\"deal-link\" onclick=\"app.openDealLink('https://verpakkingenxl.pipedrive.com/deal/${item.deal_id}', event); return false;\">View Deal ↗</a></div></div>`;\n                }\n                \n                return `${createModalField('Status', statusBadge)}${links}`;\n            }\n\n            function createOrgDetailsSection(item) {\n                return [\n                    createModalField('Lightspeed Customer ID', item.lightspeed_id || 'N/A'),\n                    createModalField('Organization Name', item.org_name || 'N/A'),\n                    createModalField('COC', item.coc || 'N/A'),\n                    createModalField('VAT', item.vat || 'N/A')\n                ].join('');\n            }\n\n            function createContactSection(item) {\n                return [\n                    createModalField('Name', item.customer_name || 'N/A'),\n                    createModalField('Email', item.email || 'N/A'),\n                    createModalField('Phone', item.phone || 'N/A'),\n                    createModalField('Mobile', item.mobile || 'N/A')\n                ].join('');\n            }\n\n            function createAddressSection(item) {\n                return [\n                    createModalField('Street & Number', `${item.address_billing_street} ${item.address_billing_number}`),\n                    createModalField('Zipcode', item.address_billing_zipcode || 'N/A'),\n                    createModalField('City', item.address_billing_city || 'N/A'),\n                    createModalField('Country', item.address_billing_country || 'N/A')\n                ].join('');\n            }\n\n            function createOrderHistorySection(item) {\n                return [\n                    createModalField('Total Orders', item.total_orders || 0),\n                    createModalField('Paid Orders', item.paid_orders || 0),\n                    createModalField('Total Value (incl)', `€${(item.total_value_incl || 0).toFixed(2)}`)\n                ].join('');\n            }\n\n            function createAIOutputSection(item) {\n                return [\n                    createModalField('Decision', item.decision || 'N/A'),\n                    createModalField('Estimated Logistics', item.likely_logistics_type || 'N/A'),\n                    createModalField('Likely Shipping Volume', item.estimated_shipping_volume || 'N/A'),\n                    createModalField('Lead Score', `<span class=\"lead-score\">${item.lead_score.toFixed(1)}</span>`),\n                    createModalField('Reason', item.reason || 'N/A', true),\n                    createModalField('Compact Instruction', item.compact_instruction || 'N/A', true)\n                ].join('');\n            }\n\n            function closeModal() {\n                ELEMENTS.modalOverlay.classList.remove('active');\n            }\n\n            function closeModalOnOverlay(event) {\n                if (event.target.id === 'modal_overlay') {\n                    closeModal();\n                }\n            }\n\n            // ========================================\n            // External Link Handling\n            // ========================================\n            function openDealLink(url, event) {\n                event.stopPropagation();\n                \n                // Simulate Ctrl+Click to bypass security restrictions\n                const link = document.createElement('a');\n                link.href = url;\n                link.target = '_blank';\n                link.rel = 'noopener noreferrer';\n                document.body.appendChild(link);\n                \n                const clickEvent = new MouseEvent('click', {\n                    bubbles: true,\n                    cancelable: true,\n                    view: window,\n                    ctrlKey: true,\n                    metaKey: true // For Mac\n                });\n                link.dispatchEvent(clickEvent);\n                \n                document.body.removeChild(link);\n            }\n\n            // ========================================\n            // Tab Management\n            // ========================================\n            function switchTab(tabName) {\n                document.querySelectorAll('.tab-btn').forEach(btn => btn.classList.remove('active'));\n                event.target.classList.add('active');\n\n                document.querySelectorAll('.tab-content').forEach(content => content.classList.remove('active'));\n                document.getElementById('tab-' + tabName).classList.add('active');\n            }\n\n            // ========================================\n            // Utility Functions\n            // ========================================\n            function updateScoreDisplay() {\n                const min = document.getElementById('score_min').value;\n                const max = document.getElementById('score_max').value;\n                ELEMENTS.scoreDisplay.textContent = `${min} - ${max}`;\n            }\n\n            function refreshData() {\n                location.reload();\n            }\n\n            function resetFilters() {\n                // Reset text search\n                document.getElementById('search').value = '';\n                \n                // Reset status dropdown\n                document.getElementById('status').value = 'all';\n                \n                // Reset searchable dropdowns\n                ['country', 'city', 'zipcode'].forEach(id => setDropdownSelection(id, 'all'));\n                if (state.locationData) {\n                    updateDropdownOptions('country', state.locationData.allCountries);\n                    updateDropdownOptions('city', state.locationData.allCities);\n                    updateDropdownOptions('zipcode', state.locationData.allZipcodes);\n                }\n                \n                // Reset shipping volume and logistics type\n                document.getElementById('shipping_volume').value = 'all';\n                document.getElementById('logistics_type').value = 'all';\n                \n                // Reset lead score range\n                document.getElementById('score_min').value = '0';\n                document.getElementById('score_max').value = '10';\n                updateScoreDisplay();\n                \n                // Apply filters to refresh the table\n                applyFiltersAndSort();\n            }\n\n            // ========================================\n            // Event Listener Setup\n            // ========================================\n            function setupEventListeners() {\n                const filterElements = [\n                    { id: 'search', event: 'input' },\n                    { id: 'status', event: 'change' },\n                    { id: 'shipping_volume', event: 'change' },\n                    { id: 'logistics_type', event: 'change' },\n                    { id: 'sort_field', event: 'change' }\n                ];\n\n                filterElements.forEach(({ id, event }) => {\n                    document.getElementById(id).addEventListener(event, applyFiltersAndSort);\n                });\n\n                document.getElementById('score_min').addEventListener('input', () => {\n                    updateScoreDisplay();\n                    applyFiltersAndSort();\n                });\n\n                document.getElementById('score_max').addEventListener('input', () => {\n                    updateScoreDisplay();\n                    applyFiltersAndSort();\n                });\n\n                // Close dropdowns when clicking outside\n                document.addEventListener('click', function(e) {\n                    if (!e.target.closest('.searchable-dropdown')) {\n                        closeAllDropdowns();\n                    }\n                });\n            }\n\n            // ========================================\n            // Public API\n            // ========================================\n            return {\n                // Data operations\n                refreshData,\n                resetFilters,\n                \n                // Table operations\n                toggleSort,\n                goToPage,\n                \n                // Modal operations\n                openModal,\n                closeModal,\n                closeModalOnOverlay,\n                openDealLink,\n                \n                // Tab operations\n                switchTab,\n                \n                // KVS operations\n                saveKVS,\n                \n                // Initialize\n                init: () => {\n                    setupEventListeners();\n                    initializeData();\n                }\n            };\n        })();\n\n        // Initialize application\n        app.init();\n    </script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1264,
        256
      ],
      "id": "28b92cef-34cc-40c4-9b4f-a75d95804a9a",
      "name": "Dashboard Code"
    },
    {
      "parameters": {
        "path": "verpakkingenxl",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        256
      ],
      "id": "e7d8bdf7-e555-4f81-acaa-96c51e16430a",
      "name": "Dashbord Webhook",
      "webhookId": "9b8864d8-a65d-418e-9a6e-b2fbeeba11d5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-kvs",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        288,
        800
      ],
      "id": "63dded86-d026-466f-9f55-071fac4b4abf",
      "name": "KVS Webhook",
      "webhookId": "cb67a89b-cbc9-48b9-bcc9-5dda9d9af52f"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        800
      ],
      "id": "793cd417-f727-4b31-ab8e-dc322074598d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1472,
        256
      ],
      "id": "0d265db6-d0d0-4804-8407-8325a2747bce",
      "name": "Return Dashbord Code",
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "vw66xFyWvDs9zjo7",
          "mode": "list",
          "cachedResultName": "verpakkingenxl-KVS",
          "cachedResultUrl": "/projects/9rlsqBZGPNj4ARdI/datatables/vw66xFyWvDs9zjo7"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "={{ $json.key }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "value": "={{ $json.value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        704,
        800
      ],
      "id": "aab972e5-ef70-48e7-9088-2bed986e053e",
      "name": "Update KVS"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        800
      ],
      "id": "1d691caa-eb6f-478b-a071-6b581327c94d",
      "name": "Return Success",
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## 📊 Dashboard Display Workflow\n\n**Webhook:** `/verpakkingenxl`\n\nThis workflow serves the interactive dashboard HTML page:\n\n1. **Get KVS** - Fetches configuration data (prompts, limits)\n2. **Aggregate KVS** - Formats KVS data as key:value pairs\n3. **GET verpakkingenxl** - Retrieves all lead records\n4. **Aggregate verpakkingenxl** - Compiles all lead data\n5. **Dashboard Code** - Injects data into HTML template\n6. **Return Dashboard Code** - Serves the complete page\n\nThe dashboard includes:\n- Tab system (Dashboard + KVS Config)\n- Filters (status, location, lead score)\n- Pagination (20 rows per page)\n- Sortable lead table\n- Modal popup for lead details",
        "height": 460,
        "width": 488,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        80
      ],
      "typeVersion": 1,
      "id": "8231b2ec-b772-4bf5-845e-25ea6ef01360",
      "name": "Dashboard Workflow Note"
    },
    {
      "parameters": {
        "content": "## ⚙️ KVS Update Workflow\n\n**Webhook:** `/update-kvs` (POST)\n\nThis workflow updates KVS configuration from the dashboard:\n\n1. **KVS Webhook** - Receives POST with array of key:value objects\n2. **Split Out** - Splits array into individual items\n3. **Update KVS** - Updates each key in the data table\n4. **Return Success** - Returns `{\"status\": \"success\"}` with 200 code\n\n**Expected Payload:**\n```json\n[\n  {\"key\": \"system_prompt_base_agent\", \"value\": \"...\"},\n  {\"key\": \"system_prompt_web_search_agent\", \"value\": \"...\"},\n  {\"key\": \"total_limit\", \"value\": \"100\"}\n]\n```",
        "height": 460,
        "width": 600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        640
      ],
      "typeVersion": 1,
      "id": "cc2f0fc2-d3c0-4476-b5ff-be9cd8b835d9",
      "name": "KVS Update Workflow Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 272,
        "width": 1552,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        176
      ],
      "typeVersion": 1,
      "id": "f2c2dd34-9b79-4a81-866c-ace8855616b8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 272,
        "width": 896,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        720
      ],
      "typeVersion": 1,
      "id": "3c4c3dc6-a089-4bd9-8880-0108481d80d7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 1264,
        "width": 2288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -32
      ],
      "typeVersion": 1,
      "id": "98cab765-fa04-42d4-a920-8c5df29c5be2",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Get KVS": {
      "main": [
        [
          {
            "node": "Aggregate KVS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate KVS": {
      "main": [
        [
          {
            "node": "GET verpakkingenxl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET verpakkingenxl": {
      "main": [
        [
          {
            "node": "Aggregate verpakkingenxl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate verpakkingenxl": {
      "main": [
        [
          {
            "node": "Dashboard Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashboard Code": {
      "main": [
        [
          {
            "node": "Return Dashbord Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashbord Webhook": {
      "main": [
        [
          {
            "node": "Get KVS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KVS Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Update KVS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update KVS": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76e0ac33b50e0db0072da78a41e059e49f1a758458c2d74dcf85414a2008ed31"
  }
}